{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<main>
    <div class="dashboard-header dashboard-manage">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>
<div class="item-detail-container">
    <h1>{{ item.title }}</h1> 
    <div class="item-detail-card">
        <div class="item-detail-card-left">             
            <div class="item-detail-img-card">            
                <img src="{{ item.image.url }}" alt="{{ item.title }}">               
            </div>
            <div class="item-detail-dropdown">
                {% if request.user == item.user %}
                    <button class="item-detail-dropbtn">...</button>
                    <div class="item-detail-dropdown-content">
                        <a href="{% url 'update-item' item.id %}" class="item-detail-update-button">Update</a>
                        <div class="item-detail-delete-form ">
                            <a href="{% url 'delete-item' item.id %}" class="item-detail-delete-button">Remove</a>
                        </div>
                    </div>
                {% elif request.user.is_superuser %}
                    <button class="item-detail-dropbtn">...</button>
                    <div class="item-detail-dropdown-content">
                        <div class="item-detail-delete-form service-delete">
                            <a href="{% url 'delete-item' item.id %}" class="item-detail-delete-button">Remove</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="item-detail-info">
                {% if user.id %}
                <p>Artist: <a href="{% url 'artist-profile' item.user.id %}">{{ item.user }}</a></p>
                {% endif %}
                <p>Dimension:{{ item.length}}cm x {{ item.width }}cm</p>
                <p>Price: ${{ item.price }}</p>
                <p>ID: {{ item.id }}</p>               
            </div>
            <!-- Form to add item to cart -->
            <div class="item-detail-cart-row">
                <form action="{% url 'add-to-cart' item_id=item.id  %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id}}">
                    <label for="quantity">Quantity:</label>
                    <input class="input-number" type="number" id="quantity" name="quantity" value="1" max="{{ item.quantity }}", min="1">
                    <button class="btn btn-tertiary" type="submit" id="add-to-cart" value="{{ item.id }}">Add to Cart</button> <a class="btn btn-tertiary" href="{% if cart_items_count > 0 %} {% url 'view-cart' %}{% endif %}">View Cart </a>  
                </form> 
                {% if request.user.is_authenticated %}                   
                    <form action="{% url 'add-to-wishlist' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="wishlist-button">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="item-detail-wishlist-icon-img">
                              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="red"/>
                            </svg>
                            <span class="tooltip-text">Add to wishlist</span>
                          </button>
                          
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">
                        <img src="{% static 'img/item-detail-wishlist-heart.png' %}" alt="wishlist icon" class="item-detail-wishlist-icon-img">
                    </a>
                {% endif %}   
            </div>
        </div>
        <div class="item-detail-description-card">
            <h2>Detail</h2>
            <div class="item-detail-description">
                
                <span>{{ item.description }}</span>
            </div>
        </div>
    </div>
   
</div>


</main>
{% endblock content %}