{% extends 'base/main.html' %}

{% block content %}


<body>
    <div class="secondary-button-container dashboard-manage">
        <a href="{% url 'artist-dashboard' user.id %}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
     <h1 class="manage-item-availability-title">Manage Item Availability</h1>
    <div class="manage-availability-list-container">
        <form method="post">
            {% csrf_token %}
            <table class="manage-availability-list">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Dimension(cm)</th>
                        <th>Available</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.length}} x {{ item.width }}</td>
                        <td>
                            <input type="checkbox" name="is_available_{{ item.id }}" {% if item.is_available %}checked{% endif %}>
                        </td>
                        <td>
                            {% if item.image %}
                            <img src="{{ item.image.url }}" alt="{{ item.title }}" width="50">
                            {% else %}
                            No image
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="items-detail-update-qty">
                <button type="submit">Update Availability</button>
            </div>
        </form>
    </div>
</body>

{% endblock %}