{% extends 'base/main.html' %}

{% block content %}
<main class="services-container">
    <div class="dashboard-header dashboard-services">
        <a href="{% url 'artist-dashboard' user.id %}" class="btn btn-secondary">Back to Home</a>
    </div>
    <h1>Services</h1>
    <div class="services-list">
        {% for service in services %}
            <div class="service-card">
                <h2>{{ service.name }}</h2>
                <p>Description: {{ service.description }}</p>
                <p>Duration: {{ service.duration }}</p>
                <p>Price: ${{ service.price }}</p>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
