{% extends 'base/main.html' %}
{% load custom_filters %}

{% block content %}
<section class="shopping-cart">
    <div class="container">
        <div class="cart-heading">
            <h3>Process Checkout</h3>
        </div>
        <div class="content-container process-checkout-content-container">
            <div class="row-grid-row process-checkout-row">
                <div class="process-checkout-cart-display">
                    <div class="display-items-count text-right text-muted">{{ cart_items_count }} Items</div>
                    <table class="cart-items-table">
                        <thead>
                            <tr class="table-header-style opacity-item">
                                <th>Item</th>
                                <th>Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr class="border-top border-bottom">
                                <td class="table-header-style">
                                    <a class="cart-item-image" href="{% url 'item-detail' cart_item.item.id %}">
                                        <img class="img-fluid mx-auto d-block image" src="{{ cart_item.item.image.url }}">
                                    </a>
                                </td>
                                <td class="table-header-style">
                                    <a class="product-name" href="{% url 'item-detail' cart_item.item.id %}">
                                        <span class="cart-image-title-opacity-item">{{ cart_item.item.title }}</span>
                                    </a>
                                </td>
                                
                                <td class="table-header-style cart-table-item">
                                    <div class="price">&#36;{{ cart_item.item.price }}</div>
                                </td>
                                
                            </tr>

                            <tr class="item-details-row">
                                <td colspan="5">
                                
                                    
                                    <div class="form-group">
                                        <div class="delivery-details">
                                            <label>Delivery Method</label>
                                            <span class="delivery-method">
                                                {{ cart_item.delivery_method.method }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#36;{{ cart_item.delivery_method.cost }}
                                            </span>
                                        </div>
                                        
                                    </div>

                                    {% if cart_item.discount_code.value %}
                                    <div class="discount-details">
                                        <label>Discount</label>

                                        <div class="form-group">
                                            <div class="discount-details">
                                            
                                                <span>&#36;{{ cart_item.discount_code.value }}</span>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="form-group summary-item">
                                        {% if item_total_costs %}
                                            <span class="item-total-cost">Total for this item:</span>
                                            <div class="price">
                                                {% if item_total_costs|get_item:cart_item.id %}
                                                    &#36;{{ item_total_costs|get_item:cart_item.id }}
                                                {% endif %}
                                            </div>
                                        {% endif %}                                                                            
                                        </div>
                                    </div>
                        
                                </td>                                
                            </tr>                            
                        
                            {% endfor %}
                            <td colspan="5">
                                <div class="summary-item-delivery-container">
                                    <div class="summary-item-delivery opacity-item">
                                        <span>SUBTOTAL</span>
                                        <div class="summary-item-delivery-value">                                    
                                            <span>&#36;{{ cart_sub_total }}</span>                                        
                                        </div>                                        
                                    </div>
                                    <div class="summary-item-delivery opacity-item">
                                        <span>TOTAL</span>
                                        <div class="summary-item-delivery-value">                                    
                                        <span>&#36;{{ total_cost }}</span>                                        
                                        </div>                                        
                                    </div>                                    
                                </div>
                            </td>
                           
                        </tbody>
                        
                    </table>   
                    
                               
                </div>
               
                <div class="process-checkout-summary-container process-checkout-summary-container-display">
                    <div class="process-checkout-delivery_details">
                        <h5>Delivery Details</h5>
                        <div class="checkout-delivery-details-container">
                            {% for key, value in delivery_form_data.items %}
                                <div class="delivery-field checkout-delivery-detail-display-field">
                                    <span class="delivery-label">{{ key|capfirst }}:</span>
                                    <span class="delivery-value">{{ value }}</span>
                                </div>
                            {% endfor %}
                            <span class="process-checkout-delivery_details-order-id">
                                <span class="process-checkout-delivery_details-order-id-label">
                                    Order N°:</span>  <span class="process-checkout-delivery_details-order-id-value">0123{{ order_id }}</span>
                                </span>
                        </div>
                        
                    </div>
                    {% if order_id %}
                    <form class="#" method="POST" action="{% url 'create-checkout-session' order_id=order_id %}">
                        {% else %}
                            <p>Order ID is missing. Please try again.</p>
                        {% endif %}

                        {% csrf_token %}
                        
                        {% for cart_item in cart_items %}
                            <input type="hidden" name="chosen_delivery_method" value="{{ cart_item.delivery_method.id }}">
                            <input type="hidden" name="delivery_cost" value="{{ cart_item.delivery_method.cost }}">
                            <input type="hidden" name="discount_value" value="{{ cart_item.discount_code.value|default:0 }}">
                            <input type="hidden" name="item_total_cost_{{ cart_item.id }}" value="{{ item_total_cost|get_item:cart_item.id }}">
                        {% endfor %}
                        
                        <input type="hidden" name="cart_sub_total" value="{{ cart_sub_total }}">
                        <input type="hidden" name="total_cost" value="{{ total_cost }}">
                        <input type="hidden" name="order_id" value="{{ order_id }}">
                        <button type="submit" class="btn-checkout btn-tertiary">Proceed To Payment &rarr;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
 
{% endblock content %}
