{% extends 'base/main.html' %}

{% block content %}
<main class="form-container">
  <div class="auth-form">
    <h3>{{ form_title }}</h3>
    <form class="form" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      
      {% for field in user_form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
      
      {% for field in profile_form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
      
      <button class="btn btn-primary" type="submit">{{ button_text }}</button>
      <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</main>
{% endblock content %}





