{% extends 'base/main.html' %}

{% block content %}
<main>
    <div class="secondary-button-container item-detail-secondary-button-container">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>
    <h1>Affiliate Program</h1>
    <div class="footer-clicks-container">
        <div class="footer-content-section">
            <p>Joining our affiliate program is simple. Contact us at <a class="footer-content-section-link" href="mailto:liveartcorner01@gmail.com">liveartcorner01@gmail.com</a> for more details and start earning by promoting our platform.</p>
        </div>
    </div>  
</main>
{% endblock content %}
