{% extends 'base/main.html' %}

{% block content %}
<main>
    <div class="dashboard-header">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>
    <h1>Affiliate Program</h1>
    <div class="footer-clicks-container">
        <div class="footer-content-section">
            <p>Joining our affiliate program is simple. Contact us at affiliates@live-art-corner.com for more details and start earning by promoting our platform.</p>
        </div>
    </div>  
</main>
{% endblock content %}
