{% extends 'base/main.html' %}

{% block content %}
  <div class="book-service-details">
    <h2>{{ service.name }}</h2>
    <p><strong>{{ service.description }}</strong></p>
    <p style="font-weight: bolder;">Price: ${{ service.price }}</p>

    <!-- Booking form -->
    <form method="POST" action="{% url 'service-booking' service_id=service.id %}">
      {% csrf_token %}
      <label for="date">Select Date & Time:</label>
      <select name="availability_slot" id="availability_slot" required>
        {% for slot in available_slots %}
          <option value="{{ slot.id }}">{{ slot.date }} ({{ slot.start_time }} - {{ slot.end_time }})</option>
        {% endfor %}
      </select>
      <!-- Include fields to gather user information -->
      {{ form.as_p }}
      <button type="submit" class="book-now-btn">Book Now</button> 
    </form>

    {% if success_message %}
    <div class="alert alert-success">{{ success_message }}</div>
    {% endif %}

    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
  </div>
{% endblock %}
